body{
    margin-left: 40px;
}

h1, h2, h3{
    font-family: Helvetica, Arial, sans-serif;
}

figure{
    font-family: Georgia, Arial, serif;
    margin-left: 0px;
    font-size: 14px;
}

p{
    font-family: Georgia, Arial, serif;
}

a{
    font-family: Georgia, Arial, serif;

}
a:hover{
    text-decoration: None;
}